@import 'prismjs/themes/prism.css';

/* 亮色模式 */
html[data-color-mode='light'] {
  --text-color: black;
  --text-shadow: 0 1px white;
}

/* 暗色模式 */
html[data-color-mode='dark'] {
  --text-color: rgb(255, 255, 255);
  --text-shadow: 0 0 white;
}

/* 应用于代码和预格式化文本 */
code[class*="language-"],
pre[class*="language-"] {
  color: var(--text-color);
  text-shadow: var(--text-shadow);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  background: none;
}